<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>About Page</h1>
        
    <p>Alguns dos shoppings do Canadá:</p>
    <ul>
        <li><span>Eaton Centre</span></li>
        <li><span>Yorkdale Mall</span></li>
        <li><span>Pacific Centre</span></li>
    </ul>

    <footer>
        <p>Rodapé da página - Texto do rodapé.</p>
    </footer>
</body>
</html>
