[submodule "secao04-introducao-ao-desenvolvimento-web-com-node-js/soccer-team-manager"]
	path = secao04-introducao-ao-desenvolvimento-web-com-node-js/soccer-team-manager
	url = git@github.com:CalebeLAR/soccer-team-manager.git

[submodule "secao04-introducao-ao-desenvolvimento-web-com-node-js/my-node-project"]
	path = secao04-introducao-ao-desenvolvimento-web-com-node-js/my-node-project
	url = git@github.com:CalebeLAR/my-node-project.git
