[submodule "secao04-introducao-ao-desenvolvimento-web-com-node-js/soccer-team-manager"]
	path = secao04-introducao-ao-desenvolvimento-web-com-node-js/soccer-team-manager
	url = git@github.com:CalebeLAR/soccer-team-manager.git

[submodule "secao04-introducao-ao-desenvolvimento-web-com-node-js/my-node-project"]
	path = secao04-introducao-ao-desenvolvimento-web-com-node-js/my-node-project
	url = git@github.com:CalebeLAR/my-node-project.git

[submodule "secao04-introducao-ao-desenvolvimento-web-com-node-js/my-choco-trybe"]
	path = secao04-introducao-ao-desenvolvimento-web-com-node-js/my-choco-trybe
	url = git@github.com:CalebeLAR/cacau-trybe.git

[submodule "secao04-introducao-ao-desenvolvimento-web-com-node-js/dia04-nodejs-express-e-middlewares/middlewares-de-terceiros"]
	path = secao04-introducao-ao-desenvolvimento-web-com-node-js/dia04-nodejs-express-e-middlewares/middlewares-de-terceiros
	url = git@github.com:CalebeLAR/middlewares-de-terceiros.git

[submodule "secao05-arquitetura-de-software-model-service-e-controller/dia03-arquitetura-de-software-camada-controller/msc-architecture-trybecar"]
	path = secao05-arquitetura-de-software-model-service-e-controller/dia03-arquitetura-de-software-camada-controller/msc-architecture-trybecar
	url = git@github.com:tryber/msc-architecture-trybecar.git

[submodule "app-with-sequelize"]
	path = secao06-nodejs-orm-e-autenticacao/app-with-sequelize
	url = git@github.com:CalebeLAR/app-with-sequelize.git


[submodule "booksAPI"]
	path = secao06-nodejs-orm-e-autenticacao/booksAPI
	url = git@github.com:CalebeLAR/booksAPI.git

[submodule "aulasAoVivo"]
	path = secao06-nodejs-orm-e-autenticacao/aulasAoVivo
	url = git@github.com:CalebeLAR/courses_api_with_sequelize.git

[submodule "employeesAPI"]
	path = secao06-nodejs-orm-e-autenticacao/employeesAPI
	url = git@github.com:CalebeLAR/employeesAPI.git
	
[submodule "books-api-sequelize"]
	path = secao06-nodejs-orm-e-autenticacao/books-api-sequelize
	url = git@github.com:CalebeLAR/books-api-sequelize.git

[submodule "nodejs-jwt-base-project"]
	path = secao06-nodejs-orm-e-autenticacao/nodejs-jwt-base-project
	url = git@github.com:CalebeLAR/nodejs-jwt-base-project.git

[submodule "books-api-sequelize"]
	path = secao06-nodejs-orm-e-autenticacao/books-api-sequelize
	url = git@github.com:CalebeLAR/books-api-sequelize.git

[submodule "nodejs-jwt-base-project"]
	path = secao06-nodejs-orm-e-autenticacao/nodejs-jwt-base-project
	url = git@github.com:CalebeLAR/nodejs-jwt-base-project.git

[submodule "conteudos"]
path = secao08-introdução-a-typescript/aulaS08
url = git@github.com:CalebeLAR/aulaS08.git

[submodule "transactions-api"]
path = secao08-introdução-a-typescript/transactions-api
url = git@github.com:tryber/transactions-api.git

