<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <style>
        /* Estilos CSS aqui (opcional) */
    </style>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    
    <!-- Lista de tarefas -->
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>completed</th>
        </tr>
        {% for task in tasks%}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.completed}}</td>
                <td><a href="/">completed</a></td>
            </tr>
        {% endfor %}
    <table>
    
    <!-- Formulário para adicionar novas tarefas -->
    <h2>Adicionar Nova Tarefa</h2>
    <form action="/" method="POST">
        <label for="nova-tarefa">Tarefa:</label>
        <input type="text" id="nova-tarefa" name="nova-tarefa" required>
        <button type="submit">Adicionar</button>
    </form>

    <!-- Scripts JavaScript (opcional) -->
</body>
</html>
