<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products.flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}">
</head>
<body>
    <h1>Lista de produtos</h1>
    <div>
        <ul>
            {% for product in products %}
            <li>
                <form method="delete">
                    <div class="product_li">
                        <p>nome: {{product.name}} ----- price: {{product.price}}</p>
                        <button type="submit" id={{product.name}}>remove procuct</button>
                    </div>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form method="post">
            <h3>adicione um novo produto!</h3>
            <label for="product_name">
                nome do produto:
                <input type="text" id="product_name" name="product_name"><br>
            </label><br>
            <label for="product_price">
                preço do produto:
                <input type="text" id="product_price" name="product_price"><br>
            </label><br>   
            <button type="submit">Adicionar</button>
        </form> 
    </div>
</body>
</html>